/*
 * Verantwortlich: Daniel Fina
 */
html {
	position: relative;
	min-height: 100%;
}
body {
	background-color: #D7CCBF;
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 100px;
}
*{	
	box-sizing: border-box;
	margin: 0;
}
main {
	margin: 0.5em;
	font-size: 18px
}

/* Falls kein JavaScript aktiviert ist */
.noscript{
	font-size: 30px;
	text-align: center;
}

/* Falls Cookies deaktiviert sind */
.cookieTextFeld {
	color: red;
	position: fixed;
	font-size: 30px;
	top: 0px;
	width: 100%;
	text-align: center;
	margin: auto;
	background-color: white;
	padding: 30px;
}