/*
 * Verantwortlich: Daniel Fina
 */
img {
	width: 30%;
	height: auto;
	padding: 2em;
	float: left;
	margin: 0 4em 0 7em;
}

#errorContainer {
	margin-top: 2em;
	width: 50%;
	float: left;
}

h1 {
	font-size: 80px;
	margin: 0.5em 0 1em 0;
}

h2 {
	font-size: 40px;
	margin-bottom: 0.3em;
}

p {
	font-size: 26px;
	padding-bottom: 2em;
}

a {
	color: black;
	font-weight: bold;
}

@media only screen and (max-width: 1919px) {
	h1 {
		font-size: 50px;
	}
	h2 {
		font-size: 30px;
	}
	p {
		font-size: 20px;
	}
}