/*
 * Verantwortlich: Daniel Fina
 */
footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #215382;
	font-size: 20px;
	padding: 12px;
	letter-spacing: 0.7px;
}

footer td {
	padding-right: 1.2em;
}

footer a {
	text-decoration: none;
	color: white;
	margin-bottom: 1em;
}