/*
 * Verantwortlich: Daniel Fina
 */
header {
	background-color: white;
	font-size: 40px;
	overflow: hidden;
}

header img {
	margin: 0.4em 0 0.1em 0.4em;
	cursor: pointer;
	height: 70px;
	width: 240px;
}

#headerRechts {
	float: right;
	margin-right: 0.5em;
	margin-top: 0.4em;
}

#headerRechts a {
	display: inline-block;
	padding: 10px 6px;
	cursor: pointer;
	color: #215382;
	text-decoration: none;
	border-radius: 5px;
}

#headerRechts a:hover {
	border-radius: 5px;
	box-shadow: 2px 8px 16px 4px rgba(33, 83, 130, 0.4);
}

@media only screen and (max-width: 1919px) {
	header img {
		height: 50px;
		width: 180px;
	}
	header {
		font-size: 30px;
	}
}