/*
 * Verantwortlich: Daniel Fina
 */
nav {
	overflow: hidden;
	background-color: white;
}

.nav {
	padding: 14px 16px;
	float: left;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 0.7px;
	color: #989898;
	text-decoration: none;
	background-color: white;
	border: none;
}

/* Falls Navigation nicht active */
.nav:hover:not(.active) {
	color: black;
	cursor: pointer;
}

/* Falls Navigation active */
nav .nav.active {
	color: #215382;
	border-bottom: 3px solid #215382;
}

/*Suche in der Navigation folgt*/
nav .suchContainer input {
	width: 180px;
	border: 1px solid grey;
	border-radius: 2px;
	font-size: 16px;
	padding: 0.4em;
	margin: 0em -0.3em;
	transition: width 0.4s ease-in-out;
	color: grey;
}

nav .suchContainer .suchButton {
	margin: 0.2em 1.4em 0 0;
	padding: 0.4em;
	border: 1px solid grey;
	background-color: #215382;
	color: white;
	cursor: pointer;
	font-size: 16px;
}

nav .suchContainer .suchButton:hover {
	opacity: 0.9;
}

nav .suchContainer input:focus {
	width: 300px;
}

nav .suchContainer {
	margin-top: 0.4em;
	margin-bottom: 0.4em;
	float: right;
}