/*
 * Verantwortlich: Daniel Fina | Jan Hermann (Zeilen 14 bis 31)
 */

/* Oberer Text */
#infoText {
	width: 50%;
	background-color: #215382;
	margin: 0 auto 0.5em auto;
	padding: 0.5em;
	color: white;
	text-align: center;
	font-size: 18px;
}

/* Verantwortlich (Jan Hermann) */
#slideshow {
	position: relative;
	margin: auto;
	max-width: 50%;
	max-height: 40%;
	margin-bottom: 0.5em;
}

#slideshow img {
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	object-fit: cover;
	width: 100%;
	max-height: 450px;
}

/* Icons mit Schneller Lieferzeit etc. */
.iconTable {
	background-color: #215382;
	width: 50%;
	margin: auto;
	padding-top: 1em;
	padding-bottom: 1em;
}

.iconTable td {
	color: white;
	text-align: center;
	width: 200px;
}

.iconTable img {
	width: 75px;
	height: 75px;
}

@media only screen and (max-width: 1919px) {
	.iconContainer {
		font-size: 18px;
	}
	.iconTable {
		padding-top: 0.5em;
	}
	.iconTable img {
		width: 50px;
		height: 50px;
	}
	#infoText {
		font-size: 16px;
		padding: 0.4em;
	}
}