/*
 * Verantwortlich: Jan Hermann
 */
h2 {
	padding-bottom: 1.3em;
	color: #215382;
	text-decoration: underline;
	font-size: 32px;
	padding-left: 0.3em;
	padding-top: 0.3em;
}

#agb {
	max-height: 550px;
	max-width: 870px;
	overflow: auto;
	padding-right: 1em;
	padding-left: 1em;
}

#agb h3 {
	margin-bottom: 0.3em;
	color: #215382;
	font-size: 26px;
}

#agb p {
	margin-bottom: 1.5em;
	text-align: justify
}

@media only screen and (max-width: 1919px) {
	#agb {
		max-height: 399px;
	}
	#agb h3 {
		font-size: 22px;
	}
	#agb p {
		font-size: 16px;
	}
}