/*
 * Verantwortlich: Daniel Fina
 */
#produkt {
	background-color: white;
	width: 100%;
	border-radius: 10px;
	display: flex;
}

#imgContainer {
	height: 600px;
	margin-right: 4em;
	border-right: 1px dotted grey;
}

#imgContainer .img {
	margin-top: 1.5em;
	width: 500px;
	height: 500px;
}

#produktDetails {
	min-height: 600px;
	padding-bottom: 4em;
}

h1 {
	padding-top: 1em;
	margin-bottom: 0.3em;
}

/*Details zu Preisen*/
.urPreis, .neuPreis, .urPreisText, .neuPreisText, .sparPreis,
	.sparPreisText {
	font-size: 22px;
}

.urPreisText {
	text-decoration: line-through;
	color: grey;
}

.neuPreisText, .sparPreisText {
	color: #215382;
}

.preis {
	font-size: 30px;
	font-style: oblique;
	padding: 0.6em 0 0 0;
}

.preisMwst {
	font-size: 14px;
	color: grey;
}

td:nth-child(even) {
	text-align: right;
}

/*Restliche ProduktDetails*/
p {
	color: #215382;
	font-size: 18px;
}

span {
	color: black;
	font-size: 18px;
	font-weight: normal;
}

.ausverkauft, .reserviertText, .loggedIn {
	color: brown;
}

.reserviert {
	font-size: 16px;
	color: grey;
}

.anzahlNummer {
	font-size: 18px;
	border: 1px solid lightgrey;
	text-align: right;
	width: 40px;
}

#entscheidung {
	margin-top: 0.5em;
}

.wkButton {
	background-color: #215382;
	border: none;
	color: white;
	padding: 12px 24px;
	text-align: center;
	font-size: 18px;
	margin: 10px 0px;
	cursor: pointer;
	border-radius: 5px;
}

.wkButton:hover {
	box-shadow: 2px 8px 16px 4px rgba(33, 83, 130, 0.4);
}
@media only screen and (min-width: 1600px) {
	#produktDetails {
		margin-right: 400px;
	}
}

@media only screen and (max-width: 1599px) {
	#produktDetails {
		margin-right: 50px;
	}
	#imgContainer .img {
		margin-top: 1.5em;
		width: 300px;
		height: 300px;
	}
	h1 {
	font-size: 30px;
	}
	.urPreis, .neuPreis, .urPreisText, .neuPreisText, .sparPreis,
	.sparPreisText {
	font-size: 20px;
}
.wkButton {
	padding: 6px 12px;
	}
}