/*
 * Verantwortlich: Daniel Fina
 */
/* Text, falls keine Produkte vorhanden sind mit Filtern */
span.empty {
	font-size: 26px;
	margin: 5%;
}
#flex {
	display: flex;
}
/* sodass alle Produkte nach rechts verschoben sind */
.produkte {
	margin-left: 2em;
}
/* Einzelner ProduktContainer, Padding setzen zwischen Produkten*/
.produkt {
	padding: 0.5em;
	float: left;
	width: 250px;
	height: 315px;
}


/*Inhalt der einzelnen Produkte*/
.produktInfo {
	background-color: white;
	padding: 8px;
	border-radius: 10px;
}

.produktInfo .img {
	width: 100%;
}

.produktInfo p {
	font-size: 18px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.produktInfo p.artNr {
	text-align: right;
	font-size: 12px;
	color: grey;
}

.produktInfo .preis {
	color: grey;
	font-size: 16px;
}

.produktInfo .alterPreis {
	color: grey;
	font-size: 16px;
	text-decoration: line-through;
}

.produktInfo .salepreis {
	font-style: italic;
	color: #215382;
	font-size: 18px;
	margin-left: 0.5em;
}

/*Filterbereich*/
.filterbereich {
	float: left;
	text-align: left;
	padding: 1.2em;
	background-color: white;
	margin: 0.5em 0 0em 0.6em;
	min-height: 200px;
	width: 300px;
	border-radius: 10px;
	font-size: 20px;
}

.filterbereich .preisBox {
	margin-bottom: 0.2em;
}

.filterbereich .preisSortierung {
	width: 95px;
	font-size: 16px;
}

@media only screen and (max-width: 1919px) {
	.filterbereich .preisSortierung {
		margin-bottom: 2em;
	}
	.preisSpanne {
		margin-bottom: 0.5em;
	}
}

@media only screen and (min-width: 1920px) {
	.filterbereich .preisSortierung {
		margin-bottom: 5em;
	}
	.preisSpanne {
		margin-bottom: 2em;
	}
}

.filterbereich p {
	font-size: 29px;
	margin-bottom: 1em;
	text-align: center;
}

.filterbereich input {
	background-color: white;
	color: black;
	border: 1px solid grey;
	padding: 6px 10px;
	margin-bottom: 0.8em;
	font-size: 20px;
	width: 214px;
	margin-right: 0.1em;
}

.filterbereich select {
	background-color: white;
	border: 1px solid grey;
	font-size: 20px;
	padding: 6px;
	margin-top: 0.5em;
	width: 100%;
	color: black;
}

.filterbereich button {
	background-color: #215382;
	width: 30px;
	padding: 7px;
	font-size: 20px;
	border-style: none;
	border-radius: 2px;
	color: white;
	cursor: pointer;
}

.filterbereich button:hover {
	opacity: 0.8;
}