/*
 * Verantwortlich: Jan Hermann
 */
@media only screen and (max-width: 1919px) {
	#adminButtonContainer {
		width: 600px;
		font-size: 20px;
	}
}

@media only screen and (min-width: 1920px) {
	#adminButtonContainer {
		width: 800px;
		font-size: 30px;
	}
}

#adminButtonContainer {
	text-align: center;
	margin: auto;
	padding: 0.8em;
}

#adminButtonContainer a {
	margin: 0.3em;
	border: 2px solid #215382;
	padding: 1.0em;
	float: left;
	width: 100%;
	border-radius: 10px;
	text-decoration: none;
	color: #215382;
	background-position: 15% 50%;
	background-repeat: no-repeat;
	background-size: 12%;
}

img {
	width: 60px;
	height: 60px;
	float: left;
}

#userLink {
	background-image: url('../../img/adminseite/user.png');
}

#produktLink {
	background-image: url('../../img/adminseite/produkt.png');
}

#kategorieLink {
	background-image: url('../../img/adminseite/kategorie.png');
}

#farbeLink {
	background-image: url('../../img/adminseite/farbe.png');
}

#auftragLink {
	background-image: url('../../img/adminseite/auftrag.png');
}

#kontaktLink {
	background-image: url('../../img/adminseite/kontakt.png');
}