/*
 * Verantwortlich: Daniel Fina
 */

/* bearbeitungs-Container auf der linken Seite inkl. Suche */
.bearbeitung {
	float: left;
	width: 320px;
	min-height: 800px;
	border-right: 3px solid grey;
	margin-right: 3em;
}

#produktsuche {
	min-height: 40px;
	padding-top: 1.5em;
	margin-bottom: 1em;
	border-right: none;
}

.bearbeitung h2 {
	margin-bottom: 0.3em;
}

.bearbeitung label {
	margin: 0.1em;
	font-size: 20px;
}

.bearbeitung input, select {
	padding: 8px 4px;
	font-size: 16px;
	border-radius: 5px;
	border-color: grey;
	margin-bottom: 0.3em;
	width: 240px;
}

.bearbeitung input.radio {
	width: 20px;
}

.bearbeitung button {
	padding: 8px 4px;
	width: 90px;
	color: white;
	background-color: #215382;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

/* Eigentlich angezeigte Tabelle */
#crudTable {
	min-width: 15%;
	max-width: 100vw;
	min-height: 200px;
	max-height: 75vh;
	overflow: auto;
}

#crudTable h2 {
	margin-bottom: 0.9em;
}

#crudTable table {
	border-collapse: collapse;
	font-size: 20px;
}

#crudTable img {
	width: 30px;
	height: 30px;
}

#crudTable th {
	background-color: #215382;
	color: white;
	padding: 0.5em;
	text-align: left;
}

#crudTable .produktBild {
	background-color: white;
	text-align: center;
}

#crudTable td {
	border-bottom: 1px solid #215382;
	padding: 12px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}


/* Spalten, die evtl. länger sind / sein könnten */
#crudTable td.beschr {
	max-width: 300px;
}

#crudTable td.beschr:hover, #crudTable td.kontaktNachricht:hover {
	overflow: scroll;
	text-overflow: clip;
	white-space: inherit;
}

/* Kleine Abtrennung zwischen angezeigten Infos und Admin-Optionen */
#crudTable td.admin {
	border-right: 2px dotted #215382;
}

#crudTable td.lagerbestand {
	border-right: 2px dotted #215382;
}

#crudTable td.kategorieBezeichnung {
	border-right: 2px dotted #215382;
}

#crudTable td.farbeBezeichnung {
	border-right: 2px dotted #215382;
}

#crudTable td.summe {
	border-right: 2px dotted #215382;
}

#crudTable td.apAnzahl {
	border-right: 2px dotted #215382;
}

#crudTable td.kontaktNachricht {
	max-width: 600px;
	border-right: 2px dotted #215382;
}

/* Schriftgrößenänderung der Produkt-Tabelle, da mehr Inahtl */
.crudProdukt th, .crudKontakt th {
	font-size: 14px;
}

.crudProdukt td, .crudKontakt td {
	font-size: 14px;
}

/* Jede 2. Zeile wird andersfarbig markiert */
tr:nth-child(even) {
	background-color: #CCC3B2;
}

/* Buttons */
.buttonContainer {
	margin-bottom: 3em;
}

.zurueck {
	background-color: #215382;
	position: fixed;
	bottom: 0;
	left: 0;
	margin: 0.3em;
	padding: 0.4em;
	color: white;
	text-decoration: none;
	border-radius: 5px;
	cursor: pointer;
}