/*
 * Verantwortlich: Jan Hermann
 */
h2 {
	margin: 1em 0 0.4em 0.1em;
}

.bearbeitung label {
	margin: 1em 0.3em 0.4em 0.1em;
	font-size: 18px;
}

.bearbeitung input, select {
	padding: 8px 4px;
	font-size: 16px;
	border-radius: 5px;
	border-color: grey;
	margin-bottom: 0.3em;
	width: 240px;
}

.bearbeitung #neueAdmin {
	width: 15px;
}

.bearbeitung input.radio {
	width: 50px;
}

.bearbeitung img {
	width: 120px;
	height: 120px;
}

.bearbeitung button {
	padding: 10px 6px;
	width: 120px;
	color: white;
	font-size: 16px;
	background-color: #215382;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-bottom: 2em;
}

.zurueck {
	background-color: #215382;
	padding: 1em;
	color: white;
	text-decoration: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 14px;
}