/*
 * Verantwortlich: Daniel Fina
 */
fieldset {
	border: 3px solid black;
	border-radius: 5px;
	width: 700px;
	margin: auto;
	padding: 10px;
	margin-bottom: 1em;
	margin-top: 2em;
}

legend {
	font-size: 34px;
	font-weight: bold;
}

/* Datenfelder auf der linken Seite */
.checkoutInfo {
	float: left;
	border-right: 1px solid grey;
	padding-right: 1.5em;
}

.checkoutInfo label {
	font-size: 18px;
}

.checkoutInfo input[type="text"] {
	padding: 10px 16px;
	width: 300px;
	font-size: 18px;
	margin-bottom: 1em;
	border-radius: 5px;
}

.checkoutInfo input[type="text"]:disabled {
	background-color: white;
	color: #215382;
}

/* Überschriften */
.checkoutInfo .daten, .lieferung, .zahlung {
	text-decoration: underline;
	font-size: 22px;
}

/* Liefer-/Zahlungsbedingungen auf der rechten oberen Seite */
.checkoutLieferung, .zahlungsOptionen {
	padding-left: 350px;
}

.checkoutLieferung .standard, .zahlungsOptionen input {
	margin-top: 1.4em;
}

/* Kleine Zusatzinfo bei der Lieferung */
.checkoutLieferung p {
	font-size: 13px;
	color: grey;
	margin-bottom: 1.8em;
}

/* Summe wird blau hervorgehoben */
span.summe {
	color: #215382;
	font-weight: bold;
}

/* Container unten rechts mit AGB und Button */
.checkoutBezahlung {
	margin-top: 2em;
	float: left;
	padding-left: 1em;
}

.checkoutBezahlung .agbCheckout a {
	color: black;
}

.checkoutBezahlung .bezahlButton {
	padding: 10px 5px;
	font-size: 18px;
	width: 100%;
	background-color: #215382;
	color: white;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}

.checkoutBezahlung .bezahlButton:hover, .agbCheckout a:hover {
	opacity: 0.8;
}